
@model IEnumerable<EntityLayer.Concrete.Settings>

<div id="top-bar" class="top-bar">
	<div class="container">
		<div class="row">

			@foreach (var item in Model)
			{
				<div class="col-lg-8 col-md-8">
					<ul class="top-info text-center text-md-left">
						<li>
							<i class="fas fa-map-marker-alt"></i> <p class="info-text">@item.Address / @item.City / @item.Country</p>
						</li>
					</ul>
				</div>

				<div class="col-lg-4 col-md-4 top-social text-center text-md-right">
					<ul class="list-unstyled">
						<li>
							<a title="Facebook" target="_blank" href="@item.Facebook">
								<span class="social-icon"><i class="fab fa-facebook-f"></i></span>
							</a>
							<a title="Twitter" target="_blank" href="@item.Instagram">
								<span class="social-icon"><i class="fab fa-instagram"></i></span>
							</a>
						</li>
					</ul>
				</div>
			}

		</div>
		<!--/ Content row end -->
	</div>
	<!--/ Container end -->
</div>
